<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" beStrictAboutTestsThatDoNotTestAnything="true" bootstrap="tests/bootstrap.php" failOnDeprecation="true" failOnEmptyTestSuite="true" failOnIncomplete="true" failOnRisky="true" failOnSkipped="true" failOnWarning="true" stopOnFailure="true" testdox="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true" beStrictAboutCoverageMetadata="true">
  <coverage>
    <report>
      <text outputFile=".phpunit.coverage.text"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
